

@media only screen and (min-width: 500px) {
    .hero {
      /* background-color: red; */
      width: auto;
      height: 60vh;
      /* background: rgb(34, 193, 195);
      background: radial-gradient(
        circle,
        rgba(34, 193, 195, 1) 0%,
        rgba(253, 187, 45, 1) 100%
    
      ); */
      background: rgb(238, 174, 202);
      background: radial-gradient(
        circle,
        rgba(238, 174, 202, 1) 0%,
        rgba(148, 187, 233, 1) 100%
      );
    
      margin-inline-start: 39px;
      margin-inline-end: 39px;
      margin-top: 7rem;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */
      display: flex;
      flex-direction: row;
      padding: 4px;
      /* z-index: -3; */
    }
    
    .text-container {
      width: 50%;
      height: auto;
    
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      text-align: center;
      position: relative;
      animation: mymove2 1s;
      animation-fill-mode: forwards;
    }
    
    .welcome-text {
      /* text-shadow: 0 0 1px rgb(120, 166, 230); */
      background: linear-gradient(to right, #ae59d0,rgb(213, 120, 120),rgb(103, 103, 207));
      background-clip:text ;
      color: transparent;
      font-size: 3em;
      text-align: center;
     
    }
    
    /* .text-container > p {
      /* background-color: yellow; */
    /* }
    .text-container > h4 { */
      /* background-color: red; */
    /* } */ 
    
    .image-container {
      width: 50%;
      height: auto;
      position: relative;
      animation: mymove 1s;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
      /* background: #b44d4d; */
    }
    
    .image-container > img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    
    @keyframes mymove {
      from {
        right: 0%;
      }
      to {
        right: 50%;
      }
    }
    @keyframes mymove2 {
      from {
        left: 0%;
      }
      to {
        left: 50%;
      }
    }
  }
  
  @media only screen and (max-width: 500px) {
    .hero {
      border-radius: 38px;
      /* margin-inline: 39px; */
      background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
      flex-direction: column;
      width: auto;
      height: 50vh;
      margin-top: 10px 3px;
      display: flex;
      box-shadow: 0 2px 4px #0006, 0 7px 13px -3px #0000004d, inset 0 -3px #0003;
  }
    
    .text-container {
      width: auto;
      height: 50%;
      display: flex;
      flex-direction: column;
      /* justify-content: space-around; */
      flex-wrap: wrap;
      text-align: center;
      position: relative;
      animation: mymove2 1s;
      animation-fill-mode: forwards;
    }
    
    .welcome-text {
      /* text-shadow: 0 0 1px rgb(120, 166, 230); */
      background: linear-gradient(to right, #ae59d0,rgb(213, 120, 120),rgb(103, 103, 207));
      background-clip:text ;
      color: transparent;
      font-size: 3rem;
      text-align: center;
      margin:auto 0px;
     
    } 
    
     .text-container > p {
     display: none;
   }
    /* .text-container > h4 { 
       display: hidden;
     } 
     */
  
  
     .tertiary-text{
      display: none;
     }
  
     .image-container {
      border-radius: 49px;
      width: auto;
      height: 50%;
      padding: 0px 2px 4px 2px;
      animation: 1s ease-in-out forwards mymove;
      position: relative;
      box-shadow: 0 2px 4px #0006, 0 7px 13px -3px #0000004d, inset 0 -3px #0003;
  }
  .image-container > img {
    object-fit: cover;
    border-radius: 55px;
    width: 100%;
    height: 100%;
  }
    
   
    @keyframes mymove {
      from {
        bottom: 0%;
      }
      to {
        bottom: 50%;
      }
    }
    @keyframes mymove2 {
      from {
        top: 0%;
      }
      to {
        top: 50%;
      }
    }
    
  }