

@media only screen and (min-width: 500px) {
  .hero {
    margin-inline: 39px;
    background: radial-gradient(circle, #ffffff 0%, #fff 100%);
    flex-direction: row;
    width: auto;
    height: 330px;
    margin-top: 100px;
    padding: 4px;
    display: flex;
    box-shadow: 0 9px 9px rgba(38, 90, 157, 0.4), 0 7px 13px -3px #0000004d, inset 0 -3px #0003;
    border-radius: 21px;
}
.text-container {
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  height: auto;
  animation: 1s forwards mymove2;
  display: flex;
  position: relative;
}
    
.welcome-text {
  color: #0000;
  text-align: center;
  background: linear-gradient(to right, #ae59d0, #ed4e4e 71%, #6e6ef7);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: fangsong;
  font-size: 42px;
  font-style: italic;
  margin-inline-end: 40px;
}
    
    /* .text-container > p {
      /* background-color: yellow; */
    /* }
    .text-container > h4 { */
      /* background-color: red; */
    /* } */ 
    
    .image-container {
      border-radius: 20px;
      width: 34%;
      height: auto;
      animation: 1s ease-in-out forwards mymove;
      position: relative;
      box-shadow: 0 2px 4px #0006, 0 7px 13px -3px #0000004d, inset 0 -3px #0003;
  }
  .image-container > img {
    object-fit: cover;
    border-radius: 24px;
    width: 100%;
    height: 100%;
    
}
    
    @keyframes mymove {
      from {
        right: 0%;
      }
      to {
        right: 50%;
      }
    }
    @keyframes mymove2 {
      from {
        left: 0%;
      }
      to {
        left: 50%;
      }
    }
  }
  
  @media only screen and (max-width: 500px) {
    .hero {
      border-radius: 38px;
      /* margin-inline: 39px; */
      background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
      flex-direction: column;
      width: auto;
      height: 50vh;
      margin-top: 10px 3px;
      display: flex;
      box-shadow: 0 2px 4px #0006, 0 7px 13px -3px #0000004d, inset 0 -3px #0003;
  }
    
    .text-container {
      width: auto;
      height: 50%;
      display: flex;
      flex-direction: column;
      /* justify-content: space-around; */
      flex-wrap: wrap;
      text-align: center;
      position: relative;
      animation: mymove2 1s;
      animation-fill-mode: forwards;
    }
    
    .welcome-text {
      /* text-shadow: 0 0 1px rgb(120, 166, 230); */
      background: linear-gradient(to right, #ae59d0,rgb(237, 78, 78),rgb(110, 110, 247));
      background-clip:text ;
      color: transparent;
      font-size: 3rem;
      text-align: center;
      margin:auto 0px;
     
    } 
    
     .text-container > p {
     display: none;
   }
    /* .text-container > h4 { 
       display: hidden;
     } 
     */
  
  
     .tertiary-text{
      display: none;
     }
  
     .image-container {
      border-radius: 49px;
      width: auto;
      height: 50%;
      padding: 0px 2px 4px 2px;
      animation: 1s ease-in-out forwards mymove;
      position: relative;
      box-shadow: 0 2px 4px #0006, 0 7px 13px -3px #0000004d, inset 0 -3px #0003;
  }
  .image-container > img {
    object-fit: cover;
    border-radius: 55px;
    width: 100%;
    height: 100%;
  }
    
   
    @keyframes mymove {
      from {
        bottom: 0%;
      }
      to {
        bottom: 50%;
      }
    }
    @keyframes mymove2 {
      from {
        top: 0%;
      }
      to {
        top: 50%;
      }
    }
    
  }
  

  .hero-style-container{
   display: flex;
   align-items: end;
   justify-content: space-evenly;
   
 }

 .inside-box {
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  display: flex;
}


.inside-box > h4 {
  /* text-shadow: 1px 1px 2px; */
  color: #0000;
  text-align: center;
  background: black;
  -webkit-background-clip: text;
  background-clip: text;
  outline: none;
  /* font-size: 3em; */
  /* opacity: 56%; */
}


 .order-image{
  /* background-color: #639; */
  border-radius: 50%;
  width: 121px;
  height: 126px;
  margin-block-end: 22px;
 background-image:url("https://cdn.doordash.com/media/consumer/home/landing/new/iphone.svg");
   object-fit: cover;
  background-size: 121px 126px;

 }
 .eat-image{
  /* background-color: #639; */
  border-radius: 50%;
  width: 121px;
  height: 126px;
  margin-block-end: 22px;
  background-image:url("https://media-assets.swiggy.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,w_1002,h_600/v1678428358/portal/m/seo_web/dweb_header.png");
  object-fit: cover;
  background-size: 121px 126px;

 }
 .deliver-image{
  /* background-color: #639; */
  /* border-radius: 50%; */
  width: 121px;
  height: 126px;
  margin-block-end: 22px;
  background-image:url("https://cdn.doordash.com/media/consumer/home/landing/new/ScootScoot.svg");
  object-fit: cover;
  background-size: 121px 126px;

 }

.inside-box>h4{
        font-size: 50px;
        font-style: inherit;
        font-weight: 500;
        margin-bottom: 10px;
        background-color: #94bbe9;
        background-clip: text;
        color: transparent;
        text-transform: capitalize;
 }