
/* .body {
    margin-top: 90px;
  } */

  :root{
    --primaryCol:#e76f51;
    --secondaryCol:#f4a261;
    --tertiaryCol:#e9c46a;
  }
  
  
  .res-container {
   
    gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    padding-block-start: 5px;
    justify-content: center;
  }
  
  .wait_time {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-weight: 400;
  }
  
  .filter-btn {
    /* display: inline-block; */
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    color: #ffffff;
    background: linear-gradient(to right, #ae59d0,rgb(103, 103, 207));
    border: 2px solid #3498db;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  
  .filter-btn:hover {
    /* background-color: #2980b9; */
    color: #ffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.12);
  }

.filter-container {
    justify-content:space-between;
    width: 95%;
    height: auto;
    margin: 20px 39px;
    display: flex;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 2px;
}

.filter-container:hover{
  box-shadow: inset 0 15px 50px -8px rgb(166, 166, 215), inset 0 12px 36px -18px #a299994d;
}

.flt-text{
  margin:5px 20px;
  /* height: 40px; */
  font-size: 2rem;
  word-spacing: 15px;
  /* padding-bottom: 5px; */
  text-transform: capitalize;
  /* background :linear-gradient(to left bottom, blue 10%,red); */
  background: linear-gradient(to right, #ae59d0, #ed4e4e 71%, #6e6ef7);
  background-clip: text;
  color: transparent;
  font-family:Inter;
}

.search-container {
  justify-content: cneter;
  width: 90%;
  height: 40px;
  margin: 50px 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 20;
  z-index: 6;
}


.search-box {
  background-color: #fff;
  border-radius: 20px;
  width: 34%;
  padding: 10px;
  box-shadow: 0 2px 8px #d688d0;
  display: flex;
  justify-content: space-between;
  position: relative;
  /* box-shadow:0px 3px 15px rgba(113,115,119,0.5);  */
}

.search-box > input {
  /* color: #ccc; */
  background-color: #0000;
  border: 0 solid;
  width: 90%;
  height: 20px;
  font-size: 18px;
  margin-inline-start: 9px;
  text-overflow: ellipsis;
  text-align: left;
 
}


.search-box > input:focus{
  outline: none;
}

.search-box> input::placeholder{
  color:#bd7979;
}

ion-icon{
  font-size: 64px;
}


.search-btn{
  margin-right: 5px;
  cursor: pointer;
  font-size: 20px;
}

.searchButton {
  /* background-color: red; */
  width: 20px;
  height: 20px;
  padding-right: 2px;
  position: absolute;
  right: 0px;
  padding: 10px;
  bottom: -1px;
  border: 0 0 0 1px gray;
  box-shadow: -1px 0px 3px #94bbe9;
  border-radius: 0 20px 20px 0;
  /* border: 1px red; */
  /* box-shadow: inset; */
}

.search-btn:hover{
      transform: scale(1.1);
}

.foodContainer{
   width: 90%;
   margin: 10px auto;
   height: auto;
   background-color: red;
   display: flex;
}


.image_list{
  display: flex;
  justify-content: space-between;
  margin:20px 60px;
  overflow: scroll;
  /* -ms-overflow-style: none;  Internet Explorer 10+ */
  scrollbar-width: none;
}


.image_list::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.food_card>img{
  height: 164px;
  width: 138px;
  object-fit: cover;
  cursor: pointer;
  /* overflow-x: scroll; */
}