
.body {
    margin-top: 90px;
  }
  
  
  .res-container {
   
    gap: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    padding-block-start: 5px;
    margin-inline-start: 73px;
  }
  
  .wait_time {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    font-weight: 400;
  }
  
  .filter-btn {
    /* display: inline-block; */
    padding: 10px 20px;
    margin: 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    color: #ffffff;
    background: linear-gradient(to right, #ae59d0,rgb(213, 120, 120),rgb(103, 103, 207));
    border: 2px solid #3498db;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  }
  
  .filter-btn:hover {
    background-color: #2980b9;
    color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.12);
  }

.filter-container {
    justify-content:space-between;
    width: 95%;
    height: 130px;
    margin: 20px 39px;
    display: flex;
    border-radius: 12px;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.1) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    /* border: 5px solid; */
}

.filter-container:hover{
  box-shadow: inset 0 15px 60px -12px #32325d40, inset 0 12px 36px -18px #0000004d;
}

.flt-text{
  margin:10px 20px;
  /* height: 40px; */
  font-size: 3rem;
  padding-bottom: 5px;
  text-transform: capitalize;
  background: linear-gradient(to right, #ae59d0,rgb(213, 120, 120),rgb(103, 103, 207)60%);
  background-clip: text;
  color: transparent;
  font-family:Inter;
}

.search-container {
  display: flex;
  /* margin: 0 auto; */
  justify-content: cneter;
  width: 226px;
  background: #ffffff;
  height: 40px;
  align-items: center;
  padding-inline-start: 15px;
  gap: 3rem;
}
